.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 999998;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.gallery-img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display: block;
  background: #000;
}

.gallery-info {
  position: fixed;
  bottom: 44px;
  right: 0;
  padding: 4px 12px;
  font-size: 15px;
  color: #fff;
  background: #000080;
  z-index: 999999;
}
